* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    width: 400px;
    height: 600px;
    padding: 32px;
}

.display {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: black;
    color: #3deb37;
    font-family: "Doto", Courier, monospace;
    font-weight: 500;
    font-size: 70px;
    padding: 8px;
    margin-bottom: 16px;
    text-align: end;
    overflow: hidden;
    white-space: nowrap;
}

.button-area {
    width: 100%;
    display: flex;
}

.button {
    width: 40px;
    height: 40px;
}

.number-pad {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.number-button {
    border: 1px solid red;
}

.operator-button {
    border: 1px solid purple;
}